/* Large DESKTOP
========================================================================== */
@media screen and (min-width:1366px) and (max-width:1920px) {
   
}
/* Small DESKOTOP
========================================================================== */
@media screen and (min-width:1024px) and (max-width:1365px) {
   
}
/* TABLETS/Small DESKTOP
========================================================================== */
@media screen and (min-width:768px) and (max-width:1023px) {
   
}
/* TABLETS
========================================================================== */
@media screen and (min-width:480px) and (max-width:767px) {
    .pageform__emailfield, .pageform__textfield {
       width: 95%;
       margin: 0 auto 15px;
       text-align: center;
       text-indent: 0px;
   }
   .pageform__textareafield {
       width: 95%;
       margin: 0 auto;
       text-align: center;
   }
   .pageform__submitbut {
       width: 95%;
       margin: 0 auto;
   }
   #textarea_feedback {
       display: none;
   }
   .bottomsection, .socials__list {
        flex-direction:column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
   }
   .socials {
        text-align: center;
        margin: 15px auto;
   }
   .numbers{
       flex-direction:column;
   }
   .topstrip__menu {
       flex-direction:column;
   }
   .aboutsection {
       flex-direction:column;
   }
   .aboutsection__right img {
       max-width: 100%;
       text-align: center;
       margin: 0 auto;
       display: block;
   }
   .services {
       flex-direction:column;
   }
   .portfolios__list--item a img {
       max-width: 100%;
   }
   .testimonialssection__head {
       font-size: 1em;
   }
   .herotext__mainhead {
        font-size: 1em;
   }
   .herotext__buttons--items a {
       width: 100%;
   }
   .portfolios__list--item {
       float: none;
       margin: 15px auto;
       text-align: center;
       margin: 0 auto;
   }
   .portfoliosection {
       height: auto;
   }
   #arrowup {
       position: fixed;
       right: 0;
       top: 900px;
   }
   #loadmorebutton {
       width: 56%;
       margin: 0 auto;
       padding: 20px;
   }
   header {
       height: auto;
   }
   .aboutsection__left--text {
       width: 95%;
       margin: 20px auto;
       text-align: center;
   }
   .aboutsection__left--button {
       width: 95%;
       margin: 15px auto;
   }
   .aboutsection__left--head {
       font-size: 23px;
       text-align: center;
   }
   .herotext {
       text-align: center;
   }
   .herotext__buttons {
       flex-direction:column;
   }
   .herotext__buttons--items {
       margin: 10px auto 5px;
       width: 95%;
   }
   .herotext {
       margin: 65px auto 70px auto;
   }
   .topstrip__menu--item a {
       padding: 10px 30px;
        border-radius: 10px;
   }
   .topstrip__menu--item a:hover {
       border-bottom: 0px;
       background: #fff;
       color: #000;
       padding: 10px 30px;
       border-radius: 10px;
   }
   .topstrip__menu--item {
       margin: 0 auto 15px;
       text-align: center;
   }
}
/* SMARTFONES
========================================================================== */
@media screen and (min-width:240px) and (max-width:479px) {
   .pageform__emailfield, .pageform__textfield {
       width: 95%;
       margin: 0 auto 15px;
       text-align: center;
       text-indent: 0px;
   }
   .pageform__textareafield {
       width: 95%;
       margin: 0 auto;
       text-align: center;
   }
   .pageform__submitbut {
       width: 95%;
       margin: 0 auto;
   }
   #textarea_feedback {
       display: none;
   }
   .bottomsection, .socials__list {
        flex-direction:column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
   }
   .socials {
        text-align: center;
        margin: 15px auto;
   }
   .numbers{
       flex-direction:column;
   }
   .topstrip__menu {
       flex-direction:column;
       text-align: right;
       padding: 0px;
   }
   .aboutsection {
       flex-direction:column;
   }
   .aboutsection__right img {
       max-width: 100%;
   }
   .services {
       flex-direction:column;
   }
   .portfolios__list--item a img {
       max-width: 100%;
   }
   .testimonialssection__head {
       font-size: 1em;
   }
   .herotext__mainhead {
        font-size: 1em;
   }
   .herotext__buttons--items a {
       width: 100%;
   }
   .portfolios__list--item {
       float: none;
       margin: 15px auto;
       text-align: center;
       margin: 0 auto;
   }
   .portfoliosection {
       height: auto;
   }
   #arrowup {
       position: fixed;
       right: 0;
       top: 900px;
   }
   #loadmorebutton {
       width: 80%;
       margin: 0 auto;
       padding: 20px;
   }
   header {
       height: auto;
   }
   .aboutsection__left--text {
       width: 95%;
       margin: 20px auto;
       text-align: center;
   }
   .aboutsection__left--button {
       width: 95%;
       margin: 15px auto;
   }
   .aboutsection__left--head {
       font-size: 23px;
       text-align: center;
   }
   .herotext {
       text-align: center;
   }
   .herotext__buttons {
       flex-direction:column;
   }
   .herotext__buttons--items {
       margin: 10px auto 5px;
       width: 95%;
   }
   .herotext {
       margin: 65px auto 70px auto;
   }
   .topstrip__menu--item a {
       padding: 10px 30px;
        border-radius: 10px;
   }
   .topstrip__menu--item a:hover {
       border-bottom: 0px;
       background: #fff;
       color: #000;
       padding: 10px 30px;
       border-radius: 10px;
   }
   .topstrip__menu--item {
       margin: 0 auto 15px;
       text-align: center;
   }
}
