/*imports*/
@import '../sass/helpers/__reset.scss'; 
@import '../sass/helpers/__functions.scss'; 
@import '../sass/helpers/__typography.scss'; 
@import '../sass/helpers/__mixins.scss'; 
@import '../sass/helpers/__pagewrapper.scss'; 
@import '../sass/helpers/__colors.scss'; 
@import '../sass/helpers/__fonts.scss'; 
header{
	background: url('../img/heroimg.jpg') center center no-repeat;
	height: 900px;
	background-size: cover;
}
.aboutsection {
	margin: 124px auto 125px auto;
	display: flex;
	justify-content: space-between;
	&__left{
		justify-content: left;
		&--head {
			@include aboutsectionmixin;
		}
		&--text {
			@include smalltextabout;
		}
		&--button {
			@include siteMainButtons;
			&:hover {
				background: gray !important;
				border:1px solid #fff;
				color: #fff;
			}
		}
	}
	&__right {
		justify-content: right;
	}
}
.topstrip{
	display: flex;
	justify-content: space-between;
	&__logo {
		margin: 31px 0 0 0;
	}
	&__menu {
		display: flex;
		list-style: none;
		margin: 35px 0 0;
		&--item {
			margin: 0 15px 0 0;
			a{
				@include menuitems;
				&:hover {
					border-bottom:1px solid #4d4d4d;
					padding-bottom: 5px;
				}
			}
		}
	}
}
.testimonialssection{
	margin: 126px auto auto auto;
	&__head {
		@include serviceshead;
		margin: 0 0 50px;
	}
	&__item {
		&--image {
			float: left;
			width: 20% !important;
		}
		&--text {
			float: right;
			width: 77%;
			h2 {
				font: $bold-weight em($font-size-thirty_pixels)  'Roboto', sans-serif;
				text-transform: uppercase;
				color: gray;
				margin: 0 auto;
				padding: 0px;
			}
			span {
				font: $normal-weight em($font-size-fourteen_pixels)  'Roboto', sans-serif;
				font-style: italic;
				text-transform: uppercase;
			}
			p{
				font: $normal-weight em($font-size-sixteen_pixels)  'Roboto', sans-serif;
				color: gray;
				text-align: justify;
				line-height: 30px;
				text-transform: uppercase;
				width: 90%;
			}
		}
	}
}
.herotext {
	margin: 175px auto auto auto;
	&__mainhead {
		@include sliteMainHead;
	}
	&__secondtext {
		@include siteSmallText;
	}
	&__buttons {
		margin: 30px auto;
		padding: 0px;
		display: flex;
		list-style: none;
		&--items {
			margin: 0 15px 0 0;
			a {
				@include siteMainButtons;
				&:hover {
					background: #fff;
					border:1px solid #fff;
				}
			}
		}
	}
}
.servicesbg {
	background: $servcolor;
	&__head {
		@include serviceshead;
		padding: 30px;
	}
}
.services {
	text-align: center;
	display: flex;
	margin: 30px auto;
	flex-direction: row; 
	align-items: flex-start;
	justify-content: space-between;
	&__item {
		width: 100%;
		&--text{
			font: 400 1.375em Roboto,sans-serif;
   	 		padding: 0;
		}
	}
}
.myskils {
	margin: 120px auto 121px auto;
	&__head {
		@include serviceshead;
	}
	&__img {
		margin: 0 auto;
		text-align: center;
		display: block;
		max-width: 100%;
	}
}
.portfoliosection {
	background: $servcolor;
	min-height: 890px;
}
.portfolios {
	&__heading {
		@include serviceshead;
		padding: 70px 0 10px;
	}
	@include clearfix;
	&__list {
		display: block;
		list-style: none;
		margin: 0 auto;
		padding: 0px;
		&--item {
			float: left;
			margin: 10px;
		}
	}
}
#loadmorebutton {
	@include loadmorebutton;
}
.contactform {
	background: url('../img/contactbg.jpg') center center no-repeat;
	height: 787px;
	background-size: cover;
}
.contactform {
	&__heading {
		@include headingContForm;
	}
}
.numbersstripe {
	background: #f6f6f6;
}
.numbers {
	display: flex;
	justify-content: space-around;
}
.numbersstripe {
	margin: 154px auto 155px auto;
	&__item {
		padding: 15px;
		&--number {
			display: block;
			@include headingNumbers 
		}
		&--text{
			@include textNumber;
			margin: 0px;
		}
		&--image{
			margin: 0 auto 15px;
			text-align: center;
			display: block;
		}
	}
}
.contactformseciton {
	padding: 90px 0 0 0;
}
#arrowup {
	@include arrowup;
}
#textarea_feedback {
	    position: absolute;
    right: 0;
    left: 540px;
    top: 500px;
}
.pageform {
	margin: 0 auto;
	text-align: center;
	&__textfield {
		@include formitem;
	}
	&__emailfield {
		@include formitem;
	}
	&__textareafield {
		@include clearfix;
		width: 63%;
		height: 207px;
		margin: 30px auto auto auto;
		font: $normal-weight em($font-size-sixteen_pixels)  'Roboto', sans-serif;
		color: #454545;
		text-indent: 5px;
		line-height: 45px;
	}
	&__submitbut {
		width: 123px;
		height: 50px;
		cursor: pointer;
		font: $normal-weight em($font-size-sixteen_pixels)  'Roboto', sans-serif;
		text-transform: uppercase;
		border:1px solid gray;
		background: #fff;
	}
}
.error {
	border:2px solid red;
}
.bottomsection {
	display: flex;
	justify-content: space-between;
}
.socials {
	&__list {
		list-style: none;
		display: flex;
		&--item {
			margin:0 10px 0 0;
			a {
				text-decoration: none;
				color: grey;
				font-size: 30px;
				width: 30px;
    			height: 30px;
			}
		}
	}
}
.copyright {
	&__item {
		font: $normal-weight em($font-size-sixteen_pixels)  'Roboto', sans-serif;
	}
}