@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin headingContForm {
    font: $bold-weight em($font-size-fortyfive_pixes)  'Roboto', sans-serif;
    color: #f3f3f3;
    text-align: center;
    text-transform: uppercase; 
}
@mixin headingNumbers {
   font: $bold-weight em($font-size-thirty_pixels)  'Roboto', sans-serif;
   color: #454545;
   text-align: center;
   text-transform: uppercase; 
}
@mixin textNumber{
   font: $normal-weight em($font-size-twentytwo_pixels)  'Roboto', sans-serif;
   color: #454545;
   text-align: center;
   text-transform: uppercase; 
   padding: 0 0 0 0;
}
@mixin formitem {
  width: 31%;
  margin: 0 5px 0 0;
  height: 57px;
  border:none;
  font: $normal-weight em($font-size-sixteen_pixels)  'Roboto', sans-serif;
  color: #454545;
  text-indent: 5px;
  line-height: 5px;
}
@mixin menuitems {
   font: $normal-weight em($font-size-seventeen_pixels)  'Roboto', sans-serif;
   color: #4d4d4d;
   text-decoration: none;
}
@mixin sliteMainHead {
   font: $bold-weight em($font-size-ninethy)  'Roboto', sans-serif;
   color: #4d4d4d;
   text-decoration: none;
   margin: 0 auto;
   padding: 0px;
}
@mixin siteSmallText {
   font: $normal-weight em($font-size-twentytwo_pixels)  'Roboto', sans-serif;
   color: #4d4d4d;
   text-decoration: none;
   margin: 0 auto;
   padding: 0px;
}
@mixin siteMainButtons {
  font: $normal-weight em($font-size-sixteen_pixels)  'Roboto', sans-serif;
  width: 160px; 
  height: 35px;
  text-transform: uppercase;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 35px;
}
@mixin aboutsectionmixin {
   font: $bold-weight em($font-size-fortyfive_pixes)  'Roboto', sans-serif;
   color: #4d4d4d;
   text-decoration: none;
   margin: 0 auto;
   padding: 0px;
   text-transform: uppercase;
   line-height: 40px;
}
@mixin smalltextabout {
   font: $normal-weight em($font-size-sixteen_pixels)  'Roboto', sans-serif;
   color: #4d4d4d;
   width: 70%;
   text-align: justify;
}
@mixin serviceshead {
  font: $bold-weight em($font-size-fortysix_pixes)  'Roboto', sans-serif;
   color: #4d4d4d;
   margin: 0 auto;
   text-align: center;
   text-transform: uppercase;
   padding: 0px;
}
@mixin loadmorebutton{
  font: $bold-weight em($font-size-sixteen_pixels)  'Roboto', sans-serif;
  text-align: center;
	display: block;
	text-transform: uppercase;
	background: #fff;
	border:1px solid gray;
	width: 160px;
	height: 30px;
	margin: 0 auto;
  color: #000;
	text-decoration: none;
	line-height: 30px;
}
@mixin arrowup {
  position: absolute;
    color: #fff;
    font-size: 25px;
    height: 40px;
    text-align: center;
    display: block;
    background: gray;
    z-index: 9999999999999999;
    right: 55px;
    top: 5490px;
	width: 40px;
	line-height: 40px;
	border:1px solid #000;
}